<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakerLink"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".navigation_pages.profile.ChangeLanguage"
            android:exported="false" />
        <activity
            android:name=".navigation_pages.profile.AddTool"
            android:exported="false" />
        <activity
            android:name=".gamification.LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_pages.profile.Change_info_of_user"
            android:exported="false" />
        <activity
            android:name=".gamification.AccomplishmentsActivity"
            android:exported="false" />
        <activity
            android:name=".threads.list.UserThreadRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".threads.list.FilteredThreadRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".threads.post.ThreadDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".playlists.CreatePlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".access.Lender"
            android:exported="false" />
        <activity
            android:name=".threads.post.CreateThreadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".playlists.PlaylistRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".ImageHandling"
            android:exported="false" />
        <activity
            android:name=".navigation_pages.chats.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".threads.list.ThreadRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".threads.post.ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".navigation_pages.exchange.InfoPage"
            android:exported="false" />
        <activity
            android:name=".access.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".access.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".navigation_pages.chats.AddCommunity" />
        <activity android:name=".navigation_pages.chats.JoinActivity" />
        <activity android:name=".navigation_pages.chats.CreateActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>